<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<h1>Student-Project Management System</h1>
		<hr>
		<h2>Update Student</h2>

		<form action="#" th:action="@{/updateStudent}" th:object="${student}"
			method="POST">

			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" /> 
			
			<table class="table table-striped table-responsive-md">
			<tr>
			<th>First Name: </th>
			<td><input type="text"
				th:field="*{firstName}" class="form-control mb-4 col-4"><br>
			<h6 th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First
							Name error</h6></td>
			</tr>
			
			<tr>
			<th>Last Name: </th>
			<td><input type="text"
				th:field="*{lastName}" class="form-control mb-4 col-4"><br>
						<h6 th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last
							Name error</h6></td>
			</tr>
				
			<tr>
			<th>Contact No: </th>
			<td><input type="number"
				th:field="*{contact}" class="form-control mb-4 col-4"><br>
						<h6 th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}">Contact
							error</h6></td>
			</tr>
			
			<tr>
			<th>Email: </th>
			<td><input type="email"
				th:field="*{email}" class="form-control mb-4 col-4"><br>
						<h6 th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
							error</h6></td>
			</tr>
			
<!-- 			<tr>
					<th>Upload Photo:</th>
					<td>
						<p th:text="${message}" th:if="${message ne null}"
							class="alert alert-primary"></p>
						<div class="form-group">
							<input type="file" name="image" accept="image/png, image/jpeg, image/jpg" class="form-control-file">
						</div>
						

					</td>
				</tr> -->
			</table>
			
			<button type="submit" class="btn btn-info col-4">Update
				Student</button>
		</form>

		<hr>

		<a th:href="@{/}"> Back to Student List</a>
	</div>
</body>

</html>